.header {
    background-color: $leaf-30;
    background-image: url(../images/leaf-1.png), url(../images/leaf-2.png), url(../images/leaf-3.png);
    background-position: -130px 90%, 550px 50px, 900px -225px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 15%, 18%, 15%;
    color: $color-gray--light;
    z-index: 300;

    &__container {
        // @include media('>lg') {
        //     padding-left: $distance--xxl;
        //     padding-right: $distance--xxl;
        // }

        align-items: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: $distance--md 0;
        justify-content: center;

        @include media(">md") {
            flex-direction: row;
            justify-content: initial;
        }

    }

    &__nav {
        max-height: 0;
        overflow: hidden;
        position: relative;
        top: $distance--sm;
        transition: 750ms cubic-bezier(.250, .460, .450, .940);
        width: 100%;

        &--is-show {
            max-height: 400px;
            transition: 1500ms cubic-bezier(.250, .460, .450, .940);
        }

        @include media('>lg') {
            margin-left: auto;
            max-height: none;
            top: 0;
            width: auto;
        }

    }

    &__nav-trigger {
        background-color: transparent;
        border: 1px solid transparent;
        margin-left: auto;
        transition: 300ms;

        &:focus {
            background-color: $green-5;
            color: $color-gray--dark;
            outline: 0 solid transparent;
        }

        @include media('>lg') {
            display: none;
        }

    }

    &__logo {
        align-items: center;
        display: inline-flex;
        flex: 0 0 auto;
        flex-direction: row;

        > img {
            margin-right: $distance--lg;
            height: 95px;
            width: auto;
        }

    }

    &__cta {
        margin-top: $distance--lg;

        @include media(">md") {
            margin-left: auto;
            margin-top: $distance--lg;
        }

    }

}
