.hero {
    background-color: $green-60;
    background-image: linear-gradient(-45deg, $color-white 0, $color-white 60%,  $lemon-10 95%);
    background-position: center left;
    background-repeat: repeat;
    background-size: auto;
    color: $blue-navy-70;
    position: relative;

    @include media('>md') {
        height: 80vh;
        min-height: 30rem;
    }

    &__container {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;

        @include media('>md') {
            align-items: center;
            flex-direction: row;
        }

    }

    &__content-left {
        flex: 1;
        margin-bottom: $distance--xxl;
        margin-top: $distance--xxl;
        position: relative;
        text-align: center;
        z-index: 2;

        @include media('>md') {
            margin-right: $distance--lg;
            margin-right: calc(#{$distance--lg} + 1vw);
            text-align: left;
        }

        img {
            width: 80%;
        }

    }

    &__content-right {
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        margin-left: $distance--md;
        margin-right: $distance--md;

        @include media('>md') {
            flex: 2;
            margin-top: auto;
        }
    }

    &__subtitle {
        font-family: $font--base;
        font-size: 1.15rem;
        line-height: 1.2;
        margin-bottom: $distance--xl;
        text-transform: uppercase;
    }

    &__title {
        font-family: $font--title;
        font-size: 1.25rem;
        font-size: calc(1rem + .35vw);
        font-weight: 900;
        line-height: 1.2;
        margin: 1em 0;
        text-transform: uppercase;

        @include media('>md') {
            line-height: 1.4;
        }

    }

    &__image {
        z-index: 2;
    }

    &__cta {
        margin-bottom: $distance--lg;
        margin-top: $distance--lg;

        @include media('>md') {
            margin-bottom: 0;
            margin-top: $distance--xl;
        }

    }

}
