.section {
    color: $color-gray--light;
    padding: $distance--super $distance--md;

    &__title {
        color: $color-white;
        font-size: 1.5rem;
        font-size: calc(1.25rem + .25vw);
        line-height: 1.5;
        margin: 0 auto $distance--lg;
        max-width: 90%;
        text-align: center;

        @include media('>md') {
            margin-bottom: $distance--xxl;
        }

    }

    &--bg-white {
        background-color: $color-white;
        color: $blue-navy-70;

        [class*='section__title'] {
            color: $color-black;
        }

    }

    &--bg-gray {
        background-color: $color-gray--lightest;
        color: $blue-navy-70;

        [class*='section__title'] {
            color: $color-black;
        }

    }

    &--bg-gray--darkest {
        background-color: $color-gray--darkest;
        color: $color-gray--lightest;

        [class*='section__title'] {
            color: $color-white;
        }

    }

    &--bg-primary {
        background-color: $green-40;
        color: $color-gray--lightest;

        [class*='section__title'] {
            color: $color-white;
        }

    }

    &--calendar {
        background-color: $color-white;

        background-image:   url('../images/img__calendario.png'),
                            url('../images/img__camera.png'),
                            linear-gradient(-135deg, $color-white 0, $color-white 70%,  $lemon-10 95%);

        background-position: center top,
                            400% 90%,
                            center left;

        background-repeat:   no-repeat,
                            no-repeat,
                            no-repeat;
        background-size: 100%, 90%, auto;
        min-height: 90vh;
        padding: 30vh $distance--lg 0;
        text-align: center;

        > p {
            text-align: left;
        }

        @include media('>sm') {
            background-image:       url('../images/img__calendario.png'),
                                    url('../images/img__camera.png'),
                                    linear-gradient(-160deg, $color-white 0, $color-white 80%,  $lemon-10 95%);
            background-position:    center top,
                                    150% 95%,
                                    center left;
            background-size: 100%, 70%, auto;

            padding: 42vh 45vw 15vh 10vw;
            text-align: left;
        }

        @include media('>md') {
            background-image:   url('../images/img__calendario.png'),
                                url('../images/img__camera.png'),
                                linear-gradient(135deg, $color-white 0, $color-white 70%,  $lemon-10 95%);
            background-position: -200% top,
                                 right top,
                                 center left;
            background-size: 90%, 45%, auto;
            padding: 40vh 10vw 15vh 60vw;
        }

        @include media('>lg') {
            background-position: left top,
                                 right top,
                                 center left;
            background-size: 60%, 45%, auto;
            padding: 40vh 20vw 15vh 50vw;
        }

        @include media('>xl') {           
            background-position:    left top,
                                    right top,
                                    center left;

            background-size:        60%,
                                    35%,
                                    auto;
            padding: 40vh 29vw 0 45vw;
            height: 100vh;
        }
        
    }

    &--theme {
        background-color: $leaf-30;
        background-image: url('../images/img__tema.png');
        background-position: center center;
        background-size: cover;
        min-height: 500px;
        text-align: center;
    }

    &--subscribe {
        background-image: linear-gradient(-135deg, $color-white 0, $color-white 70%,  $lemon-10 95%);
        background-position: center left;
        background-repeat: no-repeat;
        background-size: auto;
        position: relative;

        > .container {
            max-width: 960px;
            width: 98%;
        }

    }

    &--footer {
        background-color: $green-5;
        color: $color-gray--dark;
        fill: $color-gray--dark;
    }

}
