.subscribe {
    $this: &;

    align-items: stretch;
    display: flex;
    flex-direction: column;

    > * {
        margin-bottom: $distance--lg;
    }

    &__multicol {
        display: flex;
        flex-direction: column;

        @include media('>md') {
            flex-direction: row;

            > *:last-child {
                flex: 1;
            }

        }

    }

    &__presentation {
        min-height: 10rem;
    }

}
