.icon {
    $size: 1.5rem;

    height: $size;
    width: $size;
    
    &--rotate90 {
        transform: rotate(90deg);
    }
 
    &--xl {
        $size: 3rem;

        height: $size;
        width: $size;        
    }
 
    &--xxl {
        $size: 6rem;

        height: $size;
        width: $size;        
    }
    
}

.align-items--start {
    align-items: flex-start;
}

.w100 {
    width: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @include media('>sm') {
        width: 94%;
    }

    @include media('>lg') {
        max-width: 1080px;
    }

    @include media('>xl') {
        max-width: 1620px;
    }
    
}

.img-as-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text--center {
    text-align: center;
}

.text--right {
    text-align: right;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

//------------------------------------
//    #MARGIN
//------------------------------------
@each $measure, $distance in $distances {
    .m--#{$measure} {
        margin: $distance;
    }

    @each $direction in $directions {
        .m-#{$direction}--#{$measure} {
            margin-#{$direction}: $distance;
        }
    }

    @each $perpendicular in $perpendiculars {
        @if $perpendicular == 'v' {
        .m-#{$perpendicular}--#{$measure} {
            margin-bottom: $distance;
            margin-top: $distance;
            }
        }

        @if $perpendicular == 'h' {
            .m-#{$perpendicular}--#{$measure} {
                margin-left: $distance;
                margin-right: $distance;
            }
        }

    }
}

@each $direction in $directions {
    .m-#{$direction}--none {
        margin-#{$direction}: 0;
    }
}

@each $direction in $directions {
    .m-#{$direction}--auto {
        margin-#{$direction}: auto;
    }
}

.m-h--none {
    margin-left: 0;
    margin-right: 0;
}

.m-v--none {
    margin-bottom: 0;
    margin-top: 0;
}

.m--none {
    margin: 0;
}





//------------------------------------
//    #PADDING
//------------------------------------
@each $measure, $distance in $distances {
    .p--#{$measure} {
        padding: $distance;
    }

    @each $direction in $directions {
        .p-#{$direction}--#{$measure} {
            padding-#{$direction}: $distance;
        }
    }

    @each $perpendicular in $perpendiculars {
        @if $perpendicular == 'v' {
            .p-#{$perpendicular}--#{$measure} {
                padding-bottom: $distance;
                padding-top: $distance;
            }
        }

        @if $perpendicular == 'h' {
            .p-#{$perpendicular}--#{$measure} {
                padding-left: $distance;
                padding-right: $distance;
            }
        }

    }
}

@each $direction in $directions {
    .p-#{$direction}--none {
        padding-#{$direction}: 0;
    }
}

.p-h--none {
    padding-left: 0;
    padding-right: 0;
}

.p-v--none {
    padding-bottom: 0;
    padding-top: 0;
}

.p--none {
    padding: 0;
}
