.alert {
  $this: &;

  align-items: center;
  background-color: $color-gray--lightest;
  border-radius: $radius--md;
  box-shadow: $shadow-1;
  color: $green-60;
  display: flex;
  flex-direction: column;
  font-size: $font-size--sm;
  justify-content: center;
  line-height: 1;
  margin-bottom: $distance--xs;
  opacity: 0;
  padding: .5em 1em;
  transition: 250ms;
  visibility: hidden;
  z-index: 300;

  @include media('>sm') {
    padding: 2em;
  }

  p {
    font-size: 1em;
    line-height: inherit;
  }

  &-container {
    bottom: 0;
    left: 0;
    height: 0;
    position: fixed;
    right: 0;
  }

  &__icon {
    color: $green-30;
    flex: 0 0 auto;
    margin-bottom: 1.25em;
    opacity: .65;
    text-shadow: $shadow-1;
  }

  &__close {
    $size: 2.5rem;

    align-items: center;
    background-color: $green-40;
    border-radius: 50%;
    box-shadow: $shadow-2;
    color: $color-white;
    display: flex;
    line-height: 1;
    height: $size;
    justify-content: center;
    position: absolute;
    right: $distance--sm;
    top: $distance--sm;
    transform: translate(50%, -50%);
    width: $size;
  }

  &__msg {
    margin-bottom: $distance--md;

    > *:empty {
      display: none;
    }

    > * {
      margin-right: $distance--xs;
    }

  }

  &__footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: $distance--lg;
    width: 100%;

    > * {
      margin-left: $distance--sm;
    }

  }

  &--has-icon {
    align-items: center;
    display: flex;
    flex-direction: row;
  }

  &--primary {
    background-color: transparentize($color: $green-60, $amount: .05);
    color: $color-white;
  }

  &--error {
    background-color: transparentize($color: $color-error, $amount: .15);
    color: $color-white;
  }

  &--success {
    background-color: transparentize($color: $color-white, $amount: .25);
    color: $color-success;

    >[class*='__icon'] {
      color: saturate(darken($color-success, 15%), 25%);
    }

  }

  &--warning {
    background-color: $color-warning;
    color: $color-white;
  }

  &--has-interaction {
    flex-wrap: wrap;
    left: 50%;
    min-width: 32rem;
    opacity: 0;
    padding: $distance--lg;
    position: fixed;
    top: $distance--xxl;
    transform: translate(-50%, 5%);
    transition: 300ms;
    visibility: hidden;
    z-index: 2;
  }

  &--no-interaction {
    bottom: $distance--md;
    flex-wrap: wrap;
    left: 50%;
    opacity: 0;
    position: fixed;
    transform: translate(-50%, 5px);
    transition: 300ms;
    visibility: hidden;
    width: 24rem;
  }

  &--pos-center {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &--full-width {
    height: 100%;
    width: 100%;
  }

  &--is-show {
    opacity: 1;
    visibility: visible;
  }

  &--xxs {
    font-size: $font-size--xxs;
  }

  &--xs {
    font-size: $font-size--xs;
  }

  &--sm {
    font-size: $font-size--sm;
  }

}