.alert {
  $this: &;

  align-items: center;
  background-color: $color-gray--lightest;
  border-radius: $radius--md;
  box-shadow: $shadow-1;
  color: $green-60;
  display: flex;
  flex-direction: column;
  font-size: $font-size--sm;
  justify-content: center;
  line-height: 1;
  margin-bottom: $distance--xs;
  opacity: 0;
  padding: .5em 1em;
  transition: 250ms;
  visibility: hidden;
  z-index: 300;

  @include media('>sm') {
    padding: 2em;
  }

  p {
    font-size: 1em;
    line-height: inherit;
  }

  &__icon {
    color: $green-30;
    flex: 0 0 auto;
    margin-bottom: 1.25em;
    opacity: .65;
    text-shadow: $shadow-1;
  }

  &__close {
    $size: 2.5rem;

    align-items: center;
    background-color: $green-40;
    border-radius: 50%;
    box-shadow: $shadow-2;
    color: $color-white;
    cursor: pointer;
    display: flex;
    line-height: 1;
    height: $size;
    justify-content: center;
    position: absolute;
    right: $distance--sm;
    top: $distance--sm;
    transform: translate(50%, -50%);
    width: $size;
  }

  &--pos-center {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &--is-show {
    opacity: 1;
    visibility: visible;
  }

}
