.process {
    $this: &;

    font-size: 1rem;
    text-align: center;

    img {
        margin: 0 auto;
    }

    &__col {
        &:not(:first-child) {
            margin-top: $distance--super;
        }

        padding-left: $distance--xxl;
        padding-right: $distance--xxl;

        @include media('>md') {
            margin-top: 0 !important;
        }

    }

    &__title {
        color: $leaf-30;
        line-height: 1;
        margin-bottom: $distance--md;
        margin-top: $distance--lg;

        @include media(">md") {
            min-height: 2em;
        }

    }

    &__link {
        display: block;
        margin: $distance--sm auto 0;
    }
}
