.theme {
    align-items: center;
    color: $blue-navy-70;
    display: flex;
    justify-content: center;

    &__container {
        max-width: 60%;
    }

    img {
        height: 120px;
        margin: 0 auto $distance--lg;;
        width: auto;
    }

    p {
        font-size: 1.25rem;
    }

    &__title {
        color: $color-white;
        display: block;
        font-size: 1.5em;
        font-weight: 900;
        line-height: 1;
        margin-bottom: $distance--lg;
        margin-top: $distance--lg;
    }

}
